<% include partials/header %>
<div class="ui inverted vertical center segment">
    <div class="ui container">
        <div class="ui tiny secondary inverted pointing menu">
            <a class="toc item">
                <i class="sidebar icon"></i>
            </a>
            <a class="active item">Home</a>
            <a class="item">Work</a>
            <a class="item">Company</a>
            <a class="item">Careers</a>
            <div class="right item">
                <a class="ui inverted button">Log in</a>
                <a class="ui inverted button">Sign Up</a>
            </div>
        </div>
    </div>
</div>
<h2 class="ui center aligned icon header">
    <i class="circular users icon"></i>
    Friends
    <p>Bacon ipsum dolor amet pork chop jowl meatloaf, burgdoggen ham hock kevin pork belly brisket shankle chuck shank. Doner flank pork chop tongue, hamburger shoulder brisket andouille pancetta picanha leberkas. Capicola kevin drumstick short ribs, venison short loin biltong ground round flank shankle. Jowl turducken meatloaf sirloin, prosciutto rump turkey short loin strip steak ham. Pastrami drumstick ground round bacon.</p>

    <p>Drumstick brisket landjaeger, beef alcatra cupim biltong filet mignon bacon t-bone. Fatback ground round shoulder tail pork loin, cupim capicola ribeye frankfurter bacon pork belly turkey rump swine andouille. Kielbasa cow sausage turkey buffalo pork. Shank landjaeger leberkas pig filet mignon. Filet mignon shankle sirloin bacon porchetta prosciutto. Tail drumstick rump beef. Cow prosciutto kielbasa bacon burgdoggen alcatra swine fatback sausage venison.</p>

        <p>Brisket shankle andouille strip steak, pancetta chicken turkey. Strip steak bacon porchetta, picanha salami burgdoggen tongue. Cupim drumstick capicola prosciutto porchetta alcatra, picanha venison shank buffalo. Swine short ribs corned beef, bresaola meatball frankfurter pastrami sirloin chicken flank biltong. Strip steak beef brisket, tongue meatloaf beef ribs alcatra burgdoggen kielbasa pancetta t-bone shoulder rump salami boudin.</p>
</h2>
<br>
<div class="ui container">
<form class="ui form" action="/login" method="POST">
    <div class="field">
        <label>Email</label>
        <input type="email" name="username" placeholder="Enter your Email" required>
    </div>
    <div class="field">
        <label>Password</label>
        <input type="password" name="password" placeholder="Enter your password" required>
    </div>
    <button class="ui button" type="submit">Submit</button>
</form>
    <div class="ui horizontal divider">
        Or
    </div>
    <a href="/auth/google"><button class="ui google plus button">
        <i class="google plus icon"></i>
        Google Plus
        </button></a>
</div>

<br>
<% include partials/footer %>
